# ==========================================
# Backend (Python / FastAPI)
# ==========================================

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.env

# Excel files (We don't want to track the output, only the code)
*.xlsx

# IDE settings (Optional)
.idea/
.vscode/

# images
images/

# ==========================================
# Frontend (Node.js / React / Vite)
# ==========================================
# Dependencies
frontend/node_modules/
node_modules/

# Production Build output
frontend/dist/
frontend/build/

# NPM / Yarn Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# IDEs & OS Files
# ==========================================
# PyCharm / IntelliJ
.idea/

# VS Code
.vscode/

# Mac / Windows system files
.DS_Store
Thumbs.db