# Web Server & Framework
fastapi
uvicorn

# Database
sqlalchemy
psycopg2-binary
python-dotenv

# Optimization & Logic
ortools
numpy

# Optional / Other dependencies (from your current file)
pillow
protobuf
openpyxl

# Security & Authentication
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
PyJWT
python-multipart

# test
pytest
httpx